@import url('https://fonts.googleapis.com/css?family=Muli:100,300,400,700,900');
@import url('./icofont/icofont.min.css');

* {
	margin: 0;
	padding: 0;
}

*::-moz-selection {
	background: #e27e5f;
}

*::selection {
	background: #e27e5f;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: Muli, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #92b4a7;
}

a:hover {
	color: #e27e5f;
}
